html, body {
  margin: 0;
  padding: 0;
  background-color:rgb(204, 153, 106);
  
}
body {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  text-align: center;
}

.content {
  width: 520px;
  height: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentAboutMe {
  width: 520px;
  height: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  width: 550px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 40px;
  margin-right: 40px;
}

.btn {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  border: 5px;
  border-color: rgb(77, 70, 47);
  background-color: rgb(255, 130, 93);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 35px;
  margin-right: 40px;
  margin-left: 40px;
}

.backToButton {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  border: 5px;
  border-color: rgb(77, 70, 47);
  background-color: rgb(255, 130, 93);
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  margin-top: 35px;
}

.btn:hover {
  background-color: rgb(223, 132, 132);
  color: beige;
  transition-duration: 0.4s;
}

.backToButton:hover {
  background-color: rgb(223, 132, 132);
  color: beige;
  transition-duration: 0.4s;
}

ul{ 
  list-style-type: none; 
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contactTitle, .myContacts {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.myContacts {
  line-height: 28px;
  width: 700px;
  text-align: left;
}

.heading, .heading2 {
  text-align: center;
}

.heading2 {
  display:block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.square {
  width: 580px;
  height: 200px;
  background-color: grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
}

.squareImage {
  width: 580px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 10px;
}

.demoDescription, .techUsed {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 580px;
  line-height: 28px;
}

.demoDescription {
  margin-bottom: 60px;
}

.meDescription {
  line-height: 35px;
}

.profilePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  margin-top: 70px;
  border-radius: 10px;
}

.icon {
  float: left;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.activityIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.activity {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 300px;
    height: 700px;
  }
  .btn {
    margin-right: 10px;
    margin-left: 10px;
  }
  .contentAboutMe {
    width: 400px;
    height: 750px;
  }
  .activityIcons{
    margin-top: 10px;
  }
  .activity {
    margin-left: 30px;
    margin-right: 30px;
  }
  .squareImage, .square {
    width: 550px;
    margin-left: 13px;
  }
  .techUsed, .demoDescription {
    margin-left: 13px;
  }
  .heading {
    margin-left: 180px;
  }
  .heading2 {
    margin-left: 225px;
  }
  
  .sectionOne, .sectionTwo, .sectionThree {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contactDescription {
    width: 400px;
    margin-left: 20px;
  }
  li {
    font-size: 12px;
  }
  .icon {
    margin-top: 10px;
  }
}

